/*  GENERAL */

body {
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 400;
}

/* COLORS */



/* HEADER */



/* FOOTER */



/* NAVIGATION */



/* PAGE-SPECIFIC */


